@import 'colors';

$nav-standard-padding: 1.375rem;
$nav-expanded-padding: 2.5rem;
$navitem-expanded-padding: 1.5rem;

.navbar-light {
  &.bg-light {
    .nav-link {
      color: $text-primary;
    }
  }
}

.navbar {
  background-color: $color-background;
  padding: 1.375rem 0;

  .router-link-exact-active {
    color: $text-primary;
    border-bottom: 3px solid $color-primary;
  }

  @include shadow-bottom();
}

.navbar-brand {
  margin-right: 60px;
}

.navbar-nav {
  .nav-link {
    color: $text-primary;
    padding: 0 0 0.5rem 0;
    box-sizing: border-box;
    margin: 0 40px 0 0;
    font-weight: 400;

    &:hover {
      color: darken($text-primary, 10%);
    }
  }

  .btn {
    min-width: 145px;
  }
}

.nav-user-profile {
  border-radius: 50% 50%;
  max-width: 3.785rem;
  height: auto;
  @include full-shadow();
}

.nav-item.dropdown {
  .dropdown-toggle {
    margin: 0;
  }

  .dropdown-name {
    font-weight: 600;
  }

  .router-link-exact-active {
    border: 0;
  }

  .dropdown-menu {
    @include full-shadow();
  }

  .dropdown-header {
    border-bottom: 1px solid #b3bac7;
    font-size: 1rem;
    font-weight: 600;
    color: $text-primary;
  }

  .dropdown-item {
    border-bottom: 1px solid #b3bac7;
    padding: 0.55rem 1.5rem;

    .icon {
      margin-right: 8px;
      vertical-align: middle;
    }

    &:first-child {
      &:hover {
        background: inherit;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.navbar {
  padding: 1.375rem 0;
}

@media (min-width: 576px) {
  .container {
    max-width: inherit;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 767px) {
  .nav-item {
    margin-bottom: 1rem;

    .nav-link {
      padding: 0 0 0 16px;

      &.router-link-exact-active {
        border-bottom: 0;
        border-left: 3px solid #0066f9;
        padding-left: 13px !important;
        vertical-align: middle;
      }
    }
  }

  .navbar-brand {
    margin-left: $nav-expanded-padding;
    vertical-align: top;
  }

  .navbar-toggler {
    margin-right: $nav-expanded-padding;
  }

  .navbar-nav {
    &:first-child {
      margin-top: 1.5em;
    }

    margin-left: $navitem-expanded-padding;
    margin-right: $navitem-expanded-padding;

    &:last-child {
      background: white;
      box-shadow: 0 -1px 2px 0 #dfe3ec;
      margin: 1.5em 0 0 0;
      padding: 1.5em $nav-expanded-padding;

      li {
        margin-bottom: 1em;

        .icon {
          margin-right: 1em;
          vertical-align: middle;
        }

        a {
          vertical-align: middle;
          color: #041433;
        }
      }
    }

    .user-info {
      img {
        margin-right: 1em;
      }
    }
  }
}
