@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'colors';
@import 'nav';
@import 'icons';
@import 'footer';
@import 'home';
@import 'profile';

html {
  font-size: 16px;
}

body {
  color: $text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h6.muted {
  color: #6c757d;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

a {
  color: $color-primary;
}

.btn-primary {
  background-color: $color-primary;
  border: 1px solid darken($color-primary, 5%);
}

.btn {
  border-radius: 0.1rem;
}