@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'colors';
@import 'nav';
@import 'icons';
@import 'footer';

body {
  color: $text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: $color-primary;
}

.btn-primary {
  background-color: $color-primary;
  border: 1px solid darken($color-primary, 5%);
}

.lead {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.45rem;
}
